html,body{
    background: #f3f5f7;
    height: 100%;
}
.content{
	padding: 15px 3% 0 0;
	overflow: hidden;
	height: 96%;
}
.left_nav{
    float:left;
    width: 30%;
    margin-right:3%;
    border-top:1px solid #f3f5f7;
    overflow-y: auto;
    height: 100%;
}
.left_nav>li{
    line-height: 1.5em;
    padding: 15px 0px;
    background: #fff;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
    border-right:1px solid #e6e6e6;
    font-size: 15px;
    color: #333;   
}
.right_content{
    float:right;
    width: 67%;
    height: 100%;
    background: #ffffff;   
}
.right_content>ul{
    text-align: center;
    background: #ffffff;
    overflow: hidden;
    overflow-y: auto;
    height: 97%;
    padding-bottom:8%;
}
.right_content>ul>li{
    float: left;
    text-align: center;
    width: 50%;
    padding: 15px 15px 3px;
    box-sizing: border-box;
}
.right_content>ul>li>.picbox{
    /*width: 89px;
    height: 89px;*/
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.right_content>ul>li>.picbox>img{
    display: block;
    /*max-height: 89px;*/
    min-height: 65px;
    width: 100%;
}
.right_content>ul>li>em{
    font-style: normal;
    color: #4d4d4d;
    font-size: 13px;
    padding: 8px 0px 0px;
    margin-bottom: 2px;
    display: block;
    overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:1;
}
.right_content>ul>li>i{
    font-style: normal;
    color: #d57232;
    font-size: 12px;
    line-height: 1.5em;
    display: block;
}
.left_nav>li.curr_tab{
    background: #f3f5f7;
    color:#4bc2a4; 
    border-right:1px solid #f3f5f7;  
}
