*{
	margin:0;
	padding:0;
}
html, body {
}
div,li,a{
	display: block;
}
body {
    background-color: #fff;
	word-wrap:break-word;
	font-family: "微软雅黑";
    font-size: 14px;
    color:#000;
    margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
input,textarea{
	outline:none;
}
a{
	text-decoration: none;
}
a:active{
	-webkit-tap-highlight-color:transparent;  /*a链接点击消除蓝色背景*/
}
/*弹框  确定取消样式*/
.btn-box-pop{	
	font-size: 15px;
	border-top: 1px solid #ededed;
	overflow: hidden;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.btn-box-pop a{
	line-height: 1.5em;
	color: #333;
	float: left;
	text-align: center;
	padding: 11px 0px;
}
.btn-box-pop .confirm{
	width: 50%;
	color: #88c5be;
}
.btn-box-pop .cancel{
	width: 49%;
	color: #9c9c9c;
	border-right: 1px solid #e6e6e6;
}