html,body{
	background: #f3f5f7;
}
.wrapper{
    padding-bottom: 20px;
}
.module-box{
	padding-top: 10px;
}
.module-box .pic-module{
	position: relative;
}
.pic-module img{
	display: block;
}
.pic-module span{
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -12px;
	width: 0;
	height: 0;
	border: 11px solid transparent;
	border-bottom: 11px solid #fff;
}
.module-box h4{
	text-align: center;
	font-size: 16px;
	color: #333;
	line-height: 48px;
	background: #fff;
}
/*--------------弹出层----------------*/
.popBox{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background-color: rgba(0,0,0,0.5);
	
}
.close{
	width: 34px;
	height: 34px;
	float: right;
	/*background-color: greenyellow;*/
	background: url(../images/close.png) no-repeat;
	background-size: 100% 100%;
	margin-top: 170px;
	margin-right: 35px;
}
.favourable{
	width: 84%;
	height: 225px;
	/*background: url(../images/tankBg.png) no-repeat;
	background-size: 100% 100%;*/
	margin: 0 auto;
	margin-top: 190px;
	
}
.favourable img{
	width: 100%;
}

