html,body{
	background: #dd3d3e;
	/*background: url(../images/invitationBj.png) no-repeat;
	background-size: 100%;
	overflow: hidden;*/
}
img{ width:100%; display:block;border: none;vertical-align: bottom;border: none;}
input[type="button"]{-webkit-appearance: none;}
.inviHead{
	min-height: 204px;
	background: url(../images/inviHead.png) no-repeat;
	background-size: 100% 100%;
}
.inviNav{
	min-height: 400px;
	background: url(../images/inviNav.png) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}
.wrapNav{
	width: 80%;
	min-height: 280px;
	margin: 0 auto;
	margin-top: 20px;
	border: 1px solid #fc7500;
	border-radius: 13px;
}
.inviTitle{
	height: 30px;
	font-size: 16px;
	color: #ffffff;
	line-height: 30px;
	padding-left: 10px;
	background-color: #fc7500;
	border-radius: 11px 11px 0 0;
}
.conNav{
	padding-left: 8px;
	padding-top: 10px;
	padding-bottom: 8px;
	color: #ffffff;
	font-size: 12px;
}
.inviBtn1{
	width: 42%;
	height: 43.5px;
	background: url(../images/btnBj.png) no-repeat;
	background-size: 100% 100%;
	line-height: 43.5px;
	text-align: center;
	margin-left: 28px;
	margin-top: 21px;
	float: left;
	color: #ffffff;
}
.inviBtn2{
	width: 42%;
	height: 43.5px;
	background: url(../images/btnBj.png) no-repeat;
	background-size: 100% 100%;
	line-height: 43.5px;
	text-align: center;
	margin-left: 8px;
	margin-top: 21px;
	float: left;
	color: #ffffff;
}
.popBox{
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 100;
}
.tiImg{
	background: url(../images/jianTou.png) no-repeat;
	background-size: 10% 25%;
	background-position: 94% 8%;
	min-height: 212px;
	
}
.tiTitle{
	width: 195px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	border:dashed 1px #ffffff;
	float: right;
	margin-top: 85px;
	margin-right: 30px;
	color: #ffffff;
	font-size: 16px;
	
}
#layui-layer1{
	top: 20px;
	left: 200px;
}
@media screen and (max-width: 320px) {
	.inviNav{
	min-height: 430px;
	background: url(../images/inviNav.png) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}
}