html,
body {
	background: #FFFFFF;
}

img {
	width: 100%;
	display: block;
	border: none;
	vertical-align: bottom;
	border: none;
}

input[type="button"] {
	-webkit-appearance: none;
}


/*----------内容开始------------*/
.moreBox{
	width: 100%;
	height: 51px;
	overflow-x: scroll;
	overflow-y: hidden;
	border-bottom: solid 1px #e5e5e5;
	position: fixed;
	top: 0;
	background-color: #ffffff;
	z-index: 500;
}
.moreWid{
	width: 250%;
}
.classify{
	height: 49px;
	width: 8%;
	margin-left: 6px;
	line-height: 49px;
	text-align: center;
	float: left;
	font-size: 14px;
}
.addStyleMi{
	height: 51px;
	border-bottom: solid 2px #eb3737;
	font-weight: bold;
	color: #eb3737;
	font-size: 14px;
}
/*-------商品列表----*/
.shopListBox{
	width: 49.3%;
	/*height: 276px;*/
	border-right: solid 2px #e5e5e5;
	border-bottom: solid 2px #e5e5e5;
	overflow: auto;
	float: left;
	
	
}
.shopImg{
	width: 80%;
	height: 100px;
	margin: 0 auto;
}
.shopImg img{
	width: 100%;
	height: 100px;
	margin: 0 auto;
	margin-top: 15px;
	
}
.shopListNames{
	height: 20px;
	padding: 20px 20px;
	line-height: 20px;
	font-size: 12px;
	overflow: hidden;
	text-overflow:ellipsis;
	/*white-space: nowrap;*/
	-webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
	display: -webkit-box;
	text-align:left ;
}
.shops{
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
}
.shopPrice{
	color: #ec4444;
	font-size: 14px;
}
.fan{
	color: #acacac;
	font-size: 12px;
	padding-left: 11px;
}
.mui-pull-bottom-pocket {
    display: none !important;
}