html,
body {
	background: #FFFFFF;
}

/*img {*/
	/*width: 100%;*/
	/*display: block;*/
	/*border: none;*/
	/*vertical-align: bottom;*/
	/*border: none;*/
/*}*/

input[type="button"] {
	-webkit-appearance: none;
}



.wrapper02 {position:relative;height: 1.12rem;width: 100%;overflow: hidden;margin:0 auto;z-index: 6;border-bottom: 2px solid #e5e5e5;}
/* .wrapper02 .scroller {position:absolute} */
.wrapper02 .scroller li {height: .8rem;color:#333;float: left;line-height: .8rem;font-size: .4rem;text-align: center;margin-top: .2rem}
.wrapper02 .scroller li a{color:#333;display:block;margin:0 .3rem}
.wrapper02 .scroller li.cur{height: 37px;font-weight: bold;color: #eb3737;font-size: .4rem;}
.wrapper02 .scroller li.cur a{color:#eb3737;border-bottom: solid 4px #eb3737;}
.wrapper02 img{
	width: 35px;
	height: 30px;
	position: absolute;
	right: 0;
	top: 8px
}



#show{
	width: 35px;
	height: 30px;
	position: fixed;
	right: 0;
	top: 8px;
	z-index: 999;
}

.clarity{
	position: fixed;
	top: 0;
	display: none;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 99;
}

.float {
	width: 100%;
	position: fixed;
	right: 0;
	top: 0;
	background: white;
	padding-top: 15px;
	display: none;
	z-index: 999;
}
.float ul {
	position: relative;
}
.float img {
	position: absolute;
	right: 0px;
	width: 33px;
	height: 25px;
}
.float li {
	width: 100%;
	height: 37px;
	line-height: 37px;
	padding-left: 14px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 14px;
}
/*----------内容开始------------*/

.moreBox {
	width: 100%;
	height: 51px;
	overflow-x: scroll;
	overflow-y: hidden;
	position: fixed;
	top: 0;
	background-color: #ffffff;
	z-index: 500;
}

.moreWid {
	width: 250%;
}

.classify {
	height: 49px;
	/*width: 8%;*/
	margin-left: 21px;
	line-height: 49px;
	text-align: center;
	float: left;
	font-size: 14px;
}

.addStyleMi {
	height: 51px;
	border-bottom: solid 3px #eb3737;
	font-weight: bold;
	color: #eb3737;
	font-size: 14px;
}


/*-------商品列表----*/

.shopListBox {
	width: 50%;
	/*height: 276px;*/
	border-right: solid 2px #e5e5e5;
	border-bottom: solid 2px #e5e5e5;
	overflow: auto;
	float: left;
}

.shopImg {
	width: 80%;
	height: 100px;
	margin: 0 auto;
}

.shopImg img {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	margin-top: 15px;
}

.shopListNames {
	height: 20px;
	padding: 20px 20px;
	line-height: 20px;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	/*white-space: nowrap;*/
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	text-align: left;
}

.shops {
	height: 20px;
	line-height: 20px;
	/*padding-top: 10px;*/
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	/*padding-bottom: 10px;*/
}

.shopPrice {
	color: #ec4444;
	font-size: 14px;
	float: left;
}

.fan {
	color: #acacac;
	font-size: 12px;
	padding-left: 11px;
	float: left;
}
.useScore {
	color: #f87a35;
	font-size: 12px;
	padding-left: 11px;
	float: left;
}
.mui-pull-bottom-pocket {
	display: none !important;
}
.popBox {
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 500;
}
.pops {
	width: 85%;
	margin: 0 auto;
	margin-top: 200px;
	background: #ffffff;
	overflow: auto;
}
.submitbox {
	text-align: center;
}
.cancels {
	width: 49.5%;
	color: #333333;
	line-height: 1.5em;
	background-color: #fff;
	border-top: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	float: left;
	padding: 11px 0;
}

.confirm {
	width: 50%;
	color: #e63737;
	line-height: 1.5em;
	background-color: #fff;
	float: left;
	padding: 11px 0;
	border-top: 1px solid #e6e6e6;
}