html,
body {
	background: #FFFFFF;
}


/*img {
	width: 100%;
	display: block;
	border: none;
	vertical-align: bottom;
	border: none;
}*/

input[type="button"] {
	-webkit-appearance: none;
}


/*----------内容开始------------*/


/*---------搜索框---*/

.searchTop {
	height: 65px;
	width: 100%;
	/*top: 0;
	bottom: 80px;*/
	/*background-color: #ffffff;*/

	/*position: absolute;*/
	z-index: 1000;
	position: fixed;
}

.active {
	background-color:#ffffff ;
}

.searchBox {
	width: 79%;
	height: 30px;
	margin-left: 19px;
	margin-top: 16px;
	border-radius: 20px;
	/*border: solid 1px #bfbfbf;*/
	float: left;
	margin-bottom: 14px;
	background: rgba(0, 0, 0, .1);
}

.seachImg {
	float: left;
}

.seachImg img {
	width: 13px;
	height: 13px;
	margin-left: 15px;
	margin-top: 8px;
}

.insearchBox {
	float: left;
	width: 85%;
	margin-left: 5px;
}

.insearchBox input {
	background-color: transparent;
}

.insearch {
	height: 30px;
	width: 90%;
	line-height: 30px;
	outline: none;
	border: none;
	background: #fffffff;
	padding-left: 5px;
}
/*---------修改placeholder的字体颜色*/
 input::-webkit-input-placeholder{
            color:#ffffff;
        }
        input::-moz-placeholder{   /* Mozilla Firefox 19+ */
            color:#ffffff;
        }
        input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
            color:#ffffff;
        }
        input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
            color:#ffffff;
        }

.searchSub {
	font-size: 14px;
	color: #ffffff;
	line-height: 30px;
	float: right;
	padding-top: 16px;
	padding-right: 15px;
}
.insearchs{color: red;}

/*-----------轮播图-------------*/

.swiper-container {
	clear: both;
	width: 100%;
	/*height: 370px;*/
	min-height: 100px;
	position: relative;
	top: 0;
}

.swiper-slide {
	/*margin-top: 67px;*/
}

.swiper-slide img {
	width: 100%;
	/*margin-top: 67px;*/
}
/*包裹自定义分页器的div的位置等CSS样式*/
.swiper-pagination-custom {
	bottom: 10px;
	left: 0;
	width: 100%;
}
/*自定义分页器的样式*/
.swiper-pagination-customs {
	width: 12px;
	height: 2px;
	display: inline-block;
	background: #000;
	opacity: .3;
	margin: 0 5px;
}
/*自定义分页器激活时的样式表现*/
.swiper-pagination-customs-active {
	opacity: 1;
	background-color: #e63737;
}
/*--------商品分类---*/

.container {
	clear: both;
	padding: 1px 12px;
}

.container>ul {
	overflow: hidden;
	width: 100%;
}

.container>ul>li {
	float: left;
	width: 20%;
	text-align: center;
	margin-top: 15px;
}

.container>ul>li>img {
	width: 47px;
	height: 46px;
	margin: 0 auto;
	vertical-align: top;
}

.container>ul>li>em {
	font-style: normal;
	font-size: 14px;
	color: #4d4d4d;
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 7px;
}


/*-----福利区--------*/

.welfare {
	width: 92.5%;
	margin: 0 auto;
	margin-top: 20px;
}

.welfare img {
	/*height: 89px;*/
	width: 100%;
	margin: 0 auto;
	margin-bottom: 10px;
}
.noDiv {
	height: 6px;
	background-color: #f3f2f2;
	/*margin-top: 10px;*/
}


/*-------------大分类区--------*/


.classfiyTitle {
	padding-top: 17px;
	padding-left: 15px;
	color: #333333;
}

.classfiyBox {
	width: 92%;
	min-height: 185px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.leftBox {
	width: 38%;
	height: 172px;
	margin-top: 15px;
	float: left;
}

.leftBox img {
	width: 100%;
	height: 172px;
}

.rightBox {
	width: 60%;
	height: 172px;
	float: right;
	margin-top: 15px;
}

.localSpecialty {
	height: 82px;
}

.localSpecialty img {
	width: 100%;
	height: 82px;
}

.boutiqueGallery {
	height: 82px;
	margin-top: 7px;
}

.boutiqueGallery img {
	width: 100%;
	height: 82px;
}

/*-------新品上线------*/

.newBox {
	clear: both;
	height: 47px;
	margin-bottom: 20px;
}

.newShopBox {
	float: left;
	width: 99px;
	height: 27px;
	text-align: center;
	line-height: 27px;
	background: url(../images/newShopBj.png) no-repeat;
	background-size: 100% 100%;
	margin-left: 138px;
	margin-top: 20px;
	color: #333333;
}

.moreShop {
	float: right;
	width: 17px;
	height: 17px;
	border: solid 1px #c5c5c5;
	border-radius: 50%;
	margin-top: 25px;
	margin-right: 15px;
}

.moreShop img {
	width: 30%;
	margin-left: 6px;
	margin-top: 4px;
}


/*--------商品信息-----*/

.shop_Box{
	min-height: 100px; 
	margin-bottom: 60px;
	background: #f5f5f5; 
	overflow: auto;
	margin-top: 17px;
}
.shopBox{
	/*clear: both;*/
	/*margin-top: 15px;*/
	width:46%;
    /* height: 276px; */
    /*border-right: solid 2px #e5e5e5;
    border-top: solid 2px #e5e5e5;*/
    overflow: auto;
    float: left;
    background-color: #ffffff;
     margin: 0px 5px 10px 10px;
    
	/*margin-bottom: 15px;*/
}
.shopBox:nth-child(even){
	border-right: none;
	width: 46%;
	margin: 0px 5px 10px 5px;
}
  .shopBox:nth-child(1){
 	margin-top: 10px;
 }
 .shopBox:nth-child(2){
 	margin-top: 10px;
 }
.shopImg{
	width:100%;
    height: 115px;
    margin: 0 auto;
}
.shopImg img{
	width: 100%;
    height: 115px;
    margin: 0 auto;
   /* margin-top: 15px;*/
}
.shopName{
	height: 20px;
    padding: 15px  20px 20px 12px;
    line-height: 20px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    text-align: left;
}
.shopMessage{
	height: 27px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.shops{
	float: left;
}
.shopPrice{
	color: #ec4444;
	padding-left: 12px;
}

.fan {
	color: #acacac;
	font-size: 12px;
	padding-left: 11px;
}

.toBuy {
	float: right;
	width: 82px;
	height: 26px;
	background-color: #e63737;
	color: #ffffff;
	text-align: center;
	line-height: 26px;
	margin-right: 13px;
	border-radius: 6px;
}

.mui-pull-bottom-pocket {
	display: none !important;
}

/*-----------------弹窗-----------------*/
.popBox {
	/*text-align: center;*/
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 5000;
}
.close{
	width: 42px;
	height: 42px;
	float: right;
	background: url(../images/new_close.png) no-repeat;
	background-size: 100% 100%;
	margin-top: 65px;
	margin-right: 25px;
	z-index: 500;
}
.pops {
	width: 71%;
	height: 353px;
	margin: 0 auto;
	margin-top: 140px;
	background: url(../images/new_tanks.png) no-repeat;
	background-size: 100% 100%;
	/*background: #ffffff;*/
	/*overflow: auto;*/
	border-radius: 5px;
	overflow: auto;
}
 
.pops p{
	padding-left: 19px;
	color: #fbc08b;
	line-height: 22px;
	font-size: 13px;
}
.contens{
	padding-top: 22px;
}
.title_names{
	margin-left: 19px;
	margin-top: 116px;
	color: #fff;
	width: 55%;
	line-height: 26px;
	border-bottom: 1px solid #fff;
	font-size: 15px;
}
.dates {
	color: #fff;
	font-size: 16px;
	padding-top: 145px;
	text-align: center;
}
.collect{
	height: 28px;
	width: 60%;
	color: #fff;
	border-radius: 15px;
	text-align: center;
	line-height: 28px;
	margin: 0 auto;
	margin-top: 45px;
	background: -webkit-linear-gradient(top, #fda204 , #f05a15); /* Safari 5.1 - 6.0 */
	
}
.confirm {
	text-align: center;
	width: 100%;
	color: #e63737;
	line-height: 1.5em;
	background-color: #fff;
	/*float: left;*/
	padding: 11px 0;
	border-top: 1px solid #e6e6e6;
}
/*------------底部-------*/


/*.shopBottom{
	clear: both;
	width: 100%;
	height: 55px;
	position: fixed;
	bottom: 0;
	z-index: 100;
	border-top: solid 1px #bfbfbf;
	background-color: #ffffff;
}
.memberIndex{
	width: 33.3%;
	float: left;
	text-align: center;
	color: #ec7777;
}
.shopCar{
	width: 33%;
	float: left;
	text-align: center;
}
.personal{
	width: 33%;
	float: left;
	text-align: center;
}
.shopBottom dl dt img{
	width: 22px;
	height: 23px;
	margin: 0 auto;
	margin-top: 10px;
}*/