html,body{
	background: #f3f5f7;
}
.wrapper{
	padding-bottom: 20px;
}
.order-module{
	margin: 10px 12px 0px;
	background: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
}
.order-module h4{
	font-weight: 400;
	color: #999;
	line-height: 1.5em;
	padding: 10px 15px 8px;
}
.half-line{
	width: 50%;
	height: 1px;
	background: #e6e6e6;
	display: block;
}
.commodity-list{
	padding: 15px 15px 0px;
}
.commodity-list li{
	overflow: hidden;
	padding-bottom: 10px;	
}
.commodity-list li .picbox {
    border: 1px solid #e6e6e6;
    margin-right: 8px;
    width: 89px;
    height: 89px;
    background: #f6f2f3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    float: left;
}
.picbox img {
    display: block;
    max-height: 89px;
    min-height: 65px;
}
.commodity-info {
    float: left;
}
.commodity-info em {
    font-style: normal;
    font-size: 13px;
    color: #333;
    line-height: 1.5em;
    display: block;
    margin: 8px 0px 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    min-height: 56px;
}
.price-info {
    overflow: hidden;
    padding-top: 4px;
}
.price-info p {
    float: left;
    color: #999;
    font-size: 16px;
}
.price-info span {
    float: right;
    color: #999;
    font-size: 13px;
    display: block;
    padding-top: 2px;
}
.summary{
	overflow: hidden;
	width: 100%;
}
.summary span{
	display: block;
	float: right;
	font-size: 12px;
	color: #666;
	line-height: 44px;
	padding-top: 1px;
	padding-right: 10px;
}
.summary p{
	float: right;
	font-size: 12px;
	color: #666;
	line-height: 44px;
	padding-right: 10px;
}
.summary p em{
	font-style: normal;
	color: #d57232;
	font-size: 16px;
}
.state-box{
	background: #ccc;
	width: 50px;
	position: absolute;
	right: -10px;
	top: -12px;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg); 	/* IE 9 */
	-moz-transform:rotate(45deg); 	/* Firefox */
	-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
	-o-transform:rotate(45deg); 	/* Opera */
}
.state-box p{
	font-size: 12px;
	color: #fff;
	line-height: 1.5em;	
	text-align: center;
	padding-top: 30px;
	padding-bottom: 8px;
}

