.form {
    overflow: hidden;
}
.form>p{
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
}
.form>div {
    width: 92%;
    margin: 0 auto;
    overflow: hidden;
}

.header {
    width: 100%;
    display: flex;
    margin: 24px 0;
}

.header_first {
    margin-right: 16px;
}

.header_first img {
    width: 96.5px;
    height: 86px
}

.header_last p {
    line-height: 45px;
    font-size: 15px;
}

.header_last img {
    width: 16px;
    height: 16px;
}

.input textarea {
    width: 100%;
    height: 105px;
    border: none;
    background: #f3f2f2;
    padding: 10px;
    font-size: 14px;
}

.camera {
    /*display: flex;*/
    align-items: center;
    margin: 18px 0;
}

.camera img {
    width: 70px;
    height: 70px;
    margin-right: 18px;
}

.camera p {
    color: #b6b6b6;
}
.physical{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
}
.physical>div{
    display: flex;
    align-items: center;
}
.physical p{
    color: #afafaf;
}
.physical img{
    width: 20px;
    height: 16px;
    margin-right: 7px;
}
.service>div:nth-child(1){
    line-height: 40px;
}
.service>div{
    display: flex;
    justify-content: space-between;
}
.service img{
    width: 16px;
    height: 16px;
}
button{
    display: block;
    width: 92%;
    height: 40px;
    margin: 0 auto;
    border: none;
    background: #eb3738;
    border-radius: 5px;
    color: #fff;
    margin-top: 70px;
    font-size: 16px;
}
.camera>div form{
    position: relative;
}
.camera>div{
    display: flex;
    align-items: center;
}
.camera input{
    width: 70px;
    height: 70px;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}