html,
body {
	background: #edf0f2;
	
}

img {
	width: 100%;
	display: block;
	border: none;
	vertical-align: bottom;
	border: none;
}

input[type="button"] {
	-webkit-appearance: none;
}


/*-----------内容开始（放置背景图）-----------*/
.wrapper{
	min-height: 935px;
	background: url(../images/activeBg.png) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}
/*--------活动详情--------*/
.activeDetails{
	width: 67%;
	min-height: 470px;
	margin: 0 auto;
	margin-top: 405px;
	overflow: hidden;
}
.active1{
	height: 102px;
}
.active2{
	height: 104px;
}
.active3{
	height: 104px;
}
.activeName{
	width: 22%;
	float: left;
	margin-top: 27px;
}
.scoll{
	width: 20px;
	height: 44px;
	background-color: #e90000;
	text-align: center;
	padding-top: 5px;
	color: #ffffff;
	font-size: 14px;
	border-radius: 3px;
	margin-left: 26px;
}
.activeContents{
	width: 65%;
	float: left;
	text-align: center;
	font-size: 13px;
	padding-top: 38px;
}
.scoll2{
	width: 20px;
	height: 63px;
	background-color: #e90000;
	text-align: center;
	padding-top: 5px;
	color: #ffffff;
	font-size: 14px;
	border-radius: 3px;
	margin-left: 26px;
}
.activeContents2{
	height: 104px;
	float: left;
	text-align: center;
	font-size: 13px;
	line-height: 118px;
	width: 65%;
}
.scoll3{
	width: 20px;
	height: 44px;
	background-color: #e90000;
	text-align: center;
	padding-top: 5px;
	color: #ffffff;
	font-size: 14px;
	border-radius: 3px;
	margin-left: 26px;
	margin-top: 5px;
}
.activeContents3{
	float: left;
	text-align: center;
	font-size: 13px;
	line-height: 110px;
	width: 65%;
}
.activeMess{
	clear: both;
	text-align: center;
	color: #d03127;
	padding-top: 15px;
}
.tishi{
	width: 82%;
	margin: 0 auto;
	margin-top: 35px;
	font-size: 12px;
	color: #873904;
}
.times{
	float: right;
	font-size: 12px;
	padding-right: 29px;
	padding-top: 10px;
}

