body,html{
			background-color: #fff;
		}
		.orderDetHe{
			height: 110px;
			width: 100%;
			background: url(../images/orderDetailBg.png) no-repeat;
			font-size: 16px;
			color: #fff;
			background-size: 100% 100%;
			text-indent: 50px;
			line-height: 110px;
		}
		.orderWuliu{
			width: 100%;
			height: 55px;
			background-color: #fff;
			border-bottom: solid 1px #e5e5e5;
			
		}
		.cheWuliu{
		    width: 23px;
		    height: 19px;
		    background: url(../images/wuliu.png) no-repeat;
		    background-size: 91%;
		    background-position: 0% 52%;
		    margin-left: 17px;
		    float: left;
		}
		.cheWuliu{
			padding-top: 36px;
		}
		.peisong{
			height: 55px;
			font-size: 15px;
			color: #333333;
			line-height: 55px;
			float: left;
			margin-left: 5px;
			width: 55%;
			/*background-color: red;*/
			overflow: hidden;
			white-space: nowrap;
			text-overflow:ellipsis;  
			
		}
		.tiaozhuang{
			width: 10px;
		    height: 17px;
		    background: url(../images/backImg.png) no-repeat;
		    float: right;
		    background-size: 100%;
		    margin-top: 20px;
		    margin-right: 17px;
		}
		.personInfo{
			/*height: 78px;*/
			width: 100%;
			background-color: #fff;
		}
		.perInfoma{
			height: 15px;
			font-size: 15px;
			color: #333;
			
		}
		.perInfoma{
			padding-top: 20px;
			margin-left: 44px;
		}
		.addreIndo{
			/*width: 95%;
			margin: 0 auto;*/
		    /*background: url(../images/weizhi.png) no-repeat;
		    height: 26px;
		    background-size: 4%;
		    background-position: 6% -4%;*/
		    color: #999999;
		    font-size: 13px;
		    margin-top: 10px;
		  /*  margin-left: 24px;*/
		 padding-left: 44px;
		 padding-right: 15px;
		 position: relative;
		 line-height: 20px;
		 margin-bottom: 10px;
		    /*text-indent: 44px;
		    overflow: hidden;
			white-space: nowrap;
			text-overflow:ellipsis;  */
		}
		.addreIndo img{
			position: absolute;
			left: 25px;
			top: 2px;
		}
		.biao2{
			color: #a8a8a8;
		}
		.orderPrice1{
			color: #a8a8a8;
		}
		.orderInBox{
			background-color: #fff;
		}
		.orderInBox{
			font-size: 12px;
			color: #999;
			padding-top: 8px;
			line-height: 23px;
			padding-bottom: 25px;
		}
		.orderInBox p{
			padding-left: 17px;
		}
		.wuliuConter{
			padding-bottom: 17px;
		}
		.wuliBox {
		    width: 27%;
		    display: inline-block;
		    float: right;
		}
		.checkcont {
		    padding: 4px 11px;
		    border: solid 1px #d0d0d0;
		    margin-top: 19px;
		    display: inline-block;
		    border-radius: 4px;
		     margin-left: 5%; 
		}