.wrapper{
	padding-bottom: 20px;
}
.wrapper header{
	background: url(../images/presonHeadBj.png) no-repeat;
	background-size: 100% 100%;
	/*box-shadow: 0px 0px 15px #d2d2d2;*/
}
.user-info{
	padding-top: 35px;
	margin: 0px 27px 35px;
	overflow: hidden;
}
.head-portrait{
	float: left;
	border: 2px solid #fff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.head-portrait img{
	display: block;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.user-info p{
	float: left;
	width: 34%;
	height: 1px;
	line-height: 1.5em;
	padding: 17px 10px 16px;
	color: #fff;
	font-size: 14px;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.user-info p img{
	margin-left: 8px;
	width: 13px;
	height: 12px;
}
.rank{
	float: right;
	padding: 17px 10px 16px;
	color: #fff;
	font-size: 15px;
}
.userRank{
	padding-right: 8px;
}
.account-info{
	padding-bottom: 27px;
	overflow: hidden;
}
.balance{
	border-right: 1px solid rgba(230, 230, 230, 0.6);
}
.balance,.cashback{
	float: left;
	width: 49%;
	text-align: center;
}
.balance em,.cashback em{
	font-size: 13px;
	color: #fff;
	font-style: normal;
	display: inline-block;
}
.balance p,.cashback p{
	display: inline-block;
	font-size: 16px;
	color: #fff;
	line-height: 1.5em;
}
.balance span,.cashback span{
	display: block;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.8);
	line-height: 1.5em;
}
/*-----待付款 待评价 待收货模块----------*/
.obligation,.receipt,.evaluated,.return{
	float: left;
	width: 33%;
	color: #333333;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
	position: relative;
}
.obligation>div,.receipt>div,.evaluated>div,.return>div{
	width: 15px;
	height: 15px;
	text-align: center;
	line-height: 15px;
	background: #e63636;
	position: absolute;
	top: -7px;
	left: 55%;
	color: #fff;
	font-size: 12px;
	border-radius:50%
}
.obligation dl dt img{
	width: 21px;
	height: 21px;
}
.receipt dl dt img{
	width: 25px;
	height: 22px;
}
.evaluated dl dt img{
	width: 19px;
	height: 23px;
}
.return dl dt img{
	width: 22px;
	height: 22px;
	margin: 0 auto;
}
.kong{
	height: 6px;
	background-color: #f3f2f2;
	clear: both;
}

.menu-list{
	padding: 0px 10px;
	margin-bottom: 50px;
	
}
.menu-list li{
	line-height: 1.5em;
	color: #333;
	font-size: 15px;
	padding: 16px 13px;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
}
.menu-list li img{
	display: block;
	float: right;
	margin-top: 4px;
}
.substitute{
	display: none;
}
