.tab-head {
	width: 92%;
	list-style-type: none;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 0;
	overflow: auto;
	height: 50px;
}

#show{
	position: absolute;
	right: 0;
	top: 0;
	width: 45px;
	height: 40px;
}

.tab-head-item{
	height: 30px;
	flex: 1 0 auto;
	margin: 4px 5px 0;
	line-height: 30px;
	padding: 0 10px;
}
.tab-head-item>span{
	display: block;

}

.select{
	color: #fff;
	background: #e63737;
	border-radius: 30px;
}
/* .list{
	width: 100%;
}
.list ul{
	padding-left: 10px;
	position: relative;
}
.list ul li{
	width: 85px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin: 17px 0;
	border-radius: 50px;
	float: left;
}
.list ul>img{
	position: absolute;
	right: 0;
	top: 17px;
	width: 33px;
	height: 25px;
} */
/* .select{
	background: #e63737;
	color: #fff;
} */
.msg img{
	width: 100%;
	height: 222px;
}
.msg p{
	display: flex;
	justify-content: space-between;
	width: 92%;
	margin: 12px auto;
}
.msg li p>span:nth-child(2){
	display: block;
	width: 75px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	border: 1px solid #e63737;
	border-radius: 5px;
	color: #e63737;
}
.float{
	width: 100%;
	position: fixed;
	right: 0;
	top: 0;
	background: white;
	padding-top: 15px;
	display: none;
	z-index: 100;
}
.float ul{
	position: relative;
}
.float li{
	width: 100%;
	height: 37px;
	line-height: 37px;
	padding-left: 14px;
	border-bottom: 1px solid #e5e5e5;
}
.float img{
	position: absolute;
	right: 0px;
	width: 33px;
	height: 25px;
}

/* body{
	position: relative
} */
.clarity{
	position: fixed;
	top: 0;
	display: none;
	width: 100%;
	background: rgba(0, 0, 0, 0.5)
}