.reg{
	width:100%;
	background:url(../images/bg1.png) repeat;
}
.reg .content{
	padding:80px 20px;
}
.reset{
	font-size:40px;
	color:#21c0d5;
	margin-bottom: 60px;
}
.reginput .inp{
	height:42px;
	line-height:42px;
	margin-bottom:25px;
}
.reginput .inp .inp-name span{
	color:#fe1a02;
}
.reginput .inp .inp-name{
	font-size:16px;
	color:#000;
	float:left;
	width:88px;
	text-align: right;
}
.reginput .inp input{
	width:225px;
	margin-left:20px;
	float:left;
	height:40px;
	line-height:40px;
	border:1px solid #b4b9bd;
	padding-left:10px;
	padding-right:10px;
	outline: 0;
	cursor: pointer;
	font-family: "微软雅黑";
	border-radius: 5px;
}
.reginput .inp.yanz input{
	width:102px;
}
.reginput .inp input:focus{
	border: 1px solid #21c0d5;
}
.yanz .code,.yanz .wait{
	width:112px;
	height:42px;
	float:left;
	margin-left:11px;
	background:#b0b0b0;
	color:#fff;
	font-size:14px;
	text-align: center;
	line-height: 42px;
	border-radius: 5px;
	cursor: pointer;
}
.yanz .code{
	background: #21c0d5;
}
.agree{
	padding-left:108px;
	font-size:14px;
	color:#000;
}
.agree span{
	color:#004eff;
}
#submit{
	width:247px;
	height:53px;
	line-height:53px;
	color:#fff;
	font-size:20px;
	background:#21c0d5;
	border-radius: 5px;
	text-align: center;
	line-height:53px;
	margin-top:25px;
	cursor: pointer;
	margin-left:102px;
}
.yanz .wait{
	display:none;
}
.clearfix{
	clear: both;
}
