.wrapper{
	width:100%;
	background:url(../images/bg1.png) repeat;
	padding-top:30px;
}
.wrapper .content{
	background:#fff;
	min-height:1221px;
	position: relative;
}
.product{
	width:228px;
	margin-left:5px;
	margin-right:5px;
	float:left;
	cursor: pointer;
	padding:5px 5px 0 5px;
	border:1px solid #bfbfbf;
	margin-bottom:30px;
	height:340px;
}
.product img{
	width:228px;
	height:228px;
}
.product p{
	font-size: 14px;
	color:#595757;
	line-height:1.5em;
	margin-top:5px;
	margin-bottom:10px;
	height:63px;
	overflow: hidden;
}
.product .price{
	font-size:16px;
	color:#fe7446;
	float:left;
}
.product .sales{
	font-size:14px;
	color:#b6b6b6;
	float: right;
}
.clearfix{
	clear: both;
}
