.wrapper{
	background:url(../images/bg1.png) repeat;
	padding-bottom:50px;
}
.banner{
	width:100%;
	height:370px;
	background:url(../images/news/banner.jpg) no-repeat;
}
.wrapper .content .title{
	margin-top:95px;
	padding-left:20px;
	text-align: center;
}
.wrapper .content .now{
	padding-left:20px;
	font-size:14px;
	color:#4f4f4f;
	margin-top:30px;
}
.wrapper .content .title .bigtit{
	font-size:30px;
	color:#3f3f3f;
	font-weight: bold;
}
.wrapper .content .title .subtit{
	font-size:14px;
	color:#8c8c8c;
	margin-top:12px;
}
.wrapper .content .artext{
	padding-left:20px;
	padding-right:20px;
	font-size:14px;
	color:#595757;
	margin-top:50px;
	line-height:1.5em;
}