.wrapper{
	width:100%;
	background:url(../images/bg1.png) repeat;
}
.wrapper .content{
	background:#fff;
}
.proDetail,.proMore{
	padding:30px 20px;
}
.proDetail{
	min-height:400px;
}
.proDetail .proImg{
	float: left;
}
.proImg img{
	width:400px;
	height:400px;
	display: block;
}
.proDetail .proNorm{
	margin-left:55px;
	float: left;
	width:445px;
}
.pro,.norm{
	font-size:14px;
	color:#595757;
	margin-top:25px;
}
.proName{
	font-size:18px;
	color:#3f3f3f;
	font-weight: bold;
}
.price{
	font-size:26px;
	color:#f4131a;
}
.pro span{
	font-size:14px;
	color:#595757;
	display:inline-block;
	width:55px;
}
.norm .size{
	font-size:14px;
	color:#595757;
	width:55px;
	display:block;
	float:left;
	line-height: 37px;
}
.norm .sizeCont{
	float:left;
	width:390px;
	margin-bottom:6px;
}
.sizeCont span{
	padding:7px 25px;
	display:inline-block;
	border:2px solid #dcdcdc;
	margin-right:10px;
	font-size:14px;
	color:#595757;
}
.sizeCont .select{
	border:2px solid #f51219;
}
.num{
	margin-top:25px;
}
.num .numtxt,.num #cut,.num #plus,.num .number{
	display: block;
	width:32px;
	height:30px;
	text-align: center;
	line-height: 30px;
	border:2px solid #dcdcdc;
	float:left;
	cursor: pointer;
	font-size:22px;
	color:#8c8c8c;
}
.num .numtxt{
	width:55px;
	font-size:14px;
	color:#595757;
	text-align: left;
	border:0;
	line-height:34px;
	cursor: auto;
}
.num .number{
	border-left:0;
	border-right:0;
	width:48px;
	cursor: auto;
	font-size: 14px;
	outline: 0;
}
.num .stor{
	border:0;
	font-size:12px;
	color:#595757;
	margin-left:15px;
	line-height:34px;
	float:left;
}
.Btn{
	margin-top:112px;
}
.Btn div{
	width:147px;
	height:43px;
	border-radius: 5px;
	line-height:43px;
	text-align: center;
	font-size: 16px;
	color:#fff;
	margin-right:15px;
	float:left;
	cursor: pointer;
}
.Btn #buynow{
	background:#f51219;
}
.Btn #addcar{
	background:#21c0d5;
}
