html,body{
	height:100%;
    margin:0;
}
.dqld_div{
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    z-index: 999999;
    height: 100%;
    background: #fff;
}

.dqld_div ul{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0px;
    z-index: 999999;
    background:#fff;
}

.dqld_div ul li{
	height:35px;
	line-height:35px;
	border-bottom:1px solid;
	border-bottom-color: rgba(221,64,59,0.5);
	padding-left:10px;
    z-index: 999999;
}