header .bgimg{
	width: 100%;
	display: block;
}
header .chairman{
	margin: -47px auto 0px;
	display: block;
}
.container p{
	line-height: 1.5em;
	padding: 18px 0px;
	margin: 0px 15px;
	border-bottom: 1px solid #e6e6e6;
	font-size: 15px;
	color: #4d4d4d;
}
