.container .banner{
	position: relative;
}
.banner img{
	display: block;
	width: 100%;
}
.banner p{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 95%;
	padding-left: 5%;
	line-height: 45px;
	background: rgba(0,0,0,0.5);
	font-size: 16px;
	color: #fff;
}
.sub-title{
	font-size: 16px;
	color: #333;
	text-align: center;
	line-height: 57px;
	border-bottom: 1px solid #ededed;
}
.stage{
	border-bottom: 1px solid #ededed;
	text-align: center;
	line-height: 32px;
	padding: 10px 0px;
	margin: 0px 15px;
}
.stage p{
	font-size: 16px;
	color: #21c0d5;
}
.stage span{
	font-size: 15px;
	color: #4d4b4b;
}
