.container{
	padding: 0px 15px;
	position: relative;
}
.content{
	position: absolute;
	left: 15px;
	margin-top: -170px;
}
.container .code-box{
	border: 1px solid #e6e6e6;
	position: relative;
}
.container .code-box img{
	display: block;
	width: 180px;
	height: 180px;
	margin: 32px auto;
}
.container .code-box p{
	line-height: 1.5em;
	font-size: 14px;
	color: #333;
	position: absolute;
	left: 50%;
	top: -11px;
	margin-left: -63px;
	background-color: #fff;
	padding: 0px 5px;
}
.prompt{
	line-height: 1.5em;
	font-size: 15px;
	color: #333;
	padding-top: 15px;
	text-align: center;
}
