
.health-list{
	padding:0 15px;
}
.health-list li{
	border-bottom:1px solid #cbcbcb;
	overflow: hidden;
	padding: 0px 15px;
}
li a{
	display: block;
	overflow: hidden;
}
li .title{
	font-size:15px;
	color:#333;
	float:left;
	display:block;
	line-height:60px;
}
li .time{
	font-size:15px;
	color:#999;
	float:right;
	display:block;
	line-height:60px;
}
li .arrow{
	float:right;
	margin-left:15px;
	padding:5px;
	margin-top:13px;
}
li .arrow:active{
	background:#efefef;
}
li .arrow img{
	width:10px;
	position: relative;
	top:3px;
}
.banner{
	position: relative;
}
.banner .banner-bg{
	display: block;
	width: 100%;
}
.banner .ban-cont{
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	margin-top: -23px;
}
.banner .ban-cont p{
	color: #fff;
	font-size: 18px;
	text-align: center;
	position: relative;
	line-height: 1.5em;
}
.banner .ban-cont .into{
	display: block;
	text-align: center;
}
.into em{
	display: inline-block;
	color: #fff;
}
.into span{
	display: inline-block;
	color: #fff;
	margin: 0px 8px;
}
.none{
	color: #666;
	font-size: 16px;
	text-align: center;
	position: absolute;
	left: 0;
	line-height: 1.5em;
	width: 100%;
}
.icon-box{
	overflow: hidden;
	border-top: 1px solid #e6e6e6;
	position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
}
.icon-box li{
	float: left;
	width: 25%;
}
.pictures-box{
	position: relative;
	height: 26px;
	padding: 12px 0px 2px;
}
.pictures-box img{
	display: block;
	width: 60%;
	margin: 0 20%;
	position: absolute;
}
.icon-box li p{
	text-align: center;
	color: #999;
	font-size: 12px;
	line-height: 1.5em;
	padding-bottom: 5px;
	-webkit-touch-callout:none;
    -moz-touch-callout:none;
    -ms-touch-callout:none;
    touch-callout:none;
}
.icon-box li.active p{
	color: #21c0d5;
	-webkit-touch-callout:none;
    -moz-touch-callout:none;
    -ms-touch-callout:none;
    touch-callout:none;
}
.consult-btn{
	display: block;
	width: 100%;
	font-size: 16px;
	color: #fff;
	background-color: #21c0d5;
	line-height: 48px;
	text-align: center;
	position: fixed;
	bottom: 0;
}
.positi{
	position: absolute;
	left: 0;
}
.state{
	font-size: 13px;
	color: #cdcdcd;
	float: right;
    display: block;
    line-height: 60px;
    margin-right: 10px;
}
.states{
	font-size: 13px;
	color: #21c0d5;
	float: right;
    display: block;
    line-height: 60px;
    margin-right: 10px;
}
/*刷新*/
#wrap {
	position:absolute; 
	z-index:1;
	top:0px; 
	bottom:0px; 
	left:-9999px;
	width:100%;
	background:#f2f2f2;
	overflow:auto;
}

#scroller {
	position:absolute; z-index:1;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}

#scroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

#scroller li {
	background-color:#fff;
	font-size:14px;
}

#myFrame {
	position:absolute;
	top:0; left:0;
}

#pullDown, #pullUp {
	background:#fff;
	height:40px;
	line-height:40px;
	padding:5px 10px;
	/*border-bottom:1px solid #ccc;*/
	font-weight:bold;
	font-size:14px;
	color:#888;
	position: relative;
}
#pullUp{
	border-top:1px solid #ccc;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
	display:block; 
	float:left;
	width:25px; 
	height:25px;
	background:url(../image/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:25px 50px; background-size:25px 50px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
	margin-top: 7px;
	margin-right: 5px;
}
.pull-box{
	position: absolute;
	left: 50%;
	margin-left: -63px;
}
#pullDown .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}
