.banner{
	height: 180px;
	background-color: #21c0d5;
}
.banner .head-portrait{
	position: relative;
	width: 67px;
	height: 67px;
	margin: 0px auto;
	padding: 25px 0px 8px;
}
.banner .head-portrait .head-photo{
	width: 63px;
	height: 63px;
	border-radius: 50%;
	border: 2px solid #d9d9d9;
}
.head-portrait .boy,.head-portrait .girl{
	position: absolute;
	right: 0;
	bottom: 8px;
	display: block;
	width: 17px;
}
.banner p{
	color: #fff;
	font-size: 16px;
	margin: 0px auto;
	text-align: center;
	line-height: 1.5em;
}
.banner a{
	display: block;
    color: #21c0d5;
    font-size: 12px;
    width: 67px;
    margin: 5px auto 0px;
    text-align: center;
    line-height: 1.5em;
    background-color: #fff;
    border-radius: 8px;
}
.banner a:active{
	background-color: #21c0d5;
	color: #f2f2f2;
}
.container{
	padding-bottom: 74px;
}
.container .border-box{
	border-bottom: 1px solid #e6e6e6;
}
.container .form-box{	
	padding: 0px 15px;
	overflow: hidden;
	line-height: 58px;
}
.form-box .icon{
	float: left;
	width: 16px;
	margin-right: 10px;
}
.form-box .icon img{
	display: block;
	margin: 0px auto;
}
.form-box p{
	float: left;
	font-size: 15px;
	color: #666;
}
.form-box .arrow{
	float: right;
	width: 9px;
	padding-top: 21px;
}
.container .grayline{
	background-color: #f2f2f2;
	height: 10px;
	border-bottom: 1px solid #e6e6e6;
}
.icon-box{
	overflow: hidden;
	border-top: 1px solid #e6e6e6;
	position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
}
.icon-box li{
	float: left;
	width: 25%;
}
.pictures-box{
	position: relative;
	height: 26px;
	padding: 12px 0px 2px;
}
.pictures-box img{
	display: block;
	width: 60%;
	margin: 0 20%;
	position: absolute;
}
.icon-box li p{
	text-align: center;
	color: #999;
	font-size: 12px;
	line-height: 1.5em;
	padding-bottom: 5px;
}
.icon-box li.active p{
	color: #21c0d5;
}