/* flexslider */
.banner,.ser-slides{
	position:relative;
	overflow:hidden;
}
.banner ul,.banner li {
	float: inherit;
}
.slides,.ser-slides{
	position:relative;
	z-index:1;
	overflow: hidden;
}
.slides li img{
	display: block;
	width: 100%;
	height:180px;
}
.flex-control-nav{
	position:absolute;
	bottom:13px;
	z-index:2;
	width:100%;
	text-align:right;
	right: 20px;
}
.flex-control-nav li{
	display:inline-block;
	margin-right:5px;
	*display:inline;
	zoom:1;
}
.flex-control-nav a{
	display:inline-block; 
	width: 10px;
	height: 7px;
	border-radius: 7px;
	background:#fff;
	overflow:hidden;
	color:#fff;
}
.flex-control-nav .flex-active{
	background:#ff574e;
	color:#ff574e;
}
.mask{
	width:97px;
	position:absolute;
	top:0;
	right: 55px;
}
.mask .content{
	text-align: right;
}
.mask img{
	margin-top:45px;
	width:97px!important;
	height: 64px!important;
}
.container{
	padding: 0px 15px 64px;
}
.tit-box{
	overflow: hidden;
	text-align: center;
	padding: 15px 0px;
}
.tit-box span{
	display: inline-block;
	width: 20%;
	height: 1px;
	background-color: #c5f1f7;
	vertical-align: middle;
}
.tit-box em{
	display: inline-block;
	background: url(../image/dot.png) no-repeat;
	background-size: cover;
	width: 9px;
	height: 9px;
	vertical-align: middle;
}
.tit-box p{
	display: inline-block;
	color: #21c0d5;
	font-size: 16px;
	line-height: 1.5em;
	vertical-align: middle;
}
.about-stj{
	overflow: hidden;
}
.about-stj img{
	display: block;
	width: 100%;
}
.about-stj .company-zb{
	float: left;
	width: 49%;
	position: relative;
}
.about-stj .info-box{
	float: left;
	width: 49%;
	padding-left: 2%;
}
.club-box{
	overflow: hidden;
}
.club-box .club-jj{
	float: left;
	width: 49%;
	position: relative;
}
.club-box .dsj{
	float: left;
	width: 49%;
	margin-left: 2%;
	position: relative;
}
.yytd{
	position: relative;
}
.company-zb p,.yytd p,.club-jj p,.dsj p{
	background: rgba(0,0,0,0.5);
	line-height: 28px;
	font-size: 14px;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	color: #fff;
}
.yytd p{
	line-height: 23px;
	font-size: 13px;
}
.club-jj p,.dsj p{
	line-height: 17px;
	font-size: 12px;
}
.zxfw{
    margin: 0px -15px;
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    border-width: 1px 0px;
  	padding: 10px 0px 40px;
  	position: relative;
}
.ser-slides{
	padding: 0px 15px;
}
.ser-slides li{
	overflow: hidden;
}
.ser-slides li .pic{
	position: relative;
	width: 50%;
	float: left;
	padding-bottom: 14px;
}
.ser-slides li .pic.bm{
	margin-bottom: 15px;
}
.ser-slides li .pic img{
	display: block;
	width: 80%;
    margin: 0px auto;
    border: 1px solid #e6e6e6;
}
.ser-slides li .pic p{
	background: url(../image/ser-btn.png) no-repeat;
	background-size: cover;
	width: 101px;
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    color: #333;
    position: absolute;
    bottom: 3px;
}
.zxfw .flex-control-nav{
	position:absolute;
	right: 0;
	bottom:10px;
	z-index:2;
	width:100%;
	text-align:center;
}
.zxhy{
	overflow: hidden;
	
}
.zxhy li{
	float: left;
	width: 22%;
	margin-right: 4%;
}
.zxhy li img{
	display: block;
	width: 100%;
}
.icon-box{
	overflow: hidden;
	margin: 0px -15px;
	border-top: 1px solid #e6e6e6;
	position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
}
.icon-box li{
	float: left;
	width: 25%;
}
.pictures-box{
	position: relative;
	height: 26px;
	padding: 12px 0px 2px;
}
.pictures-box img{
	display: block;
	width: 60%;
	margin: 0 20%;
	position: absolute;
}
.icon-box li p{
	text-align: center;
	color: #999;
	font-size: 12px;
	line-height: 1.5em;
	padding-bottom: 5px;
}
.icon-box li.active p{
	color: #21c0d5;
}
.tele_phone{
	overflow: hidden;
    width:80%;
    margin:0 auto;
	
}
.tele_phone>span{
	height:40px;
	line-height: 40px;
	float:left;
	font-size:16px ;
	color:#21c0d5;
}
/*.tele_phone>div{
	float:right;
	margin-left:10px;
}
.tele_phone>div em{
	display: block;
	font-size:13px ;
	color:#333;
	font-style: normal;
}
.tele_phone>div i{
	display: block;
	font-size:13px ;
	font-style: normal;
	color:#333;
}
*/
