.container .form{
	padding: 0px 15px;
	border-bottom: 1px solid #ccc;
}
.form-box{
	overflow: hidden;
	line-height: 58px;
	border-bottom: 1px solid #ccc;
}
.form-boxs{
	overflow: hidden;
}
.form-box .pic-box,.form-boxs .pic-box{
	float: left;
	width: 10%;
	padding-left: 2%;
}
.form-box .pic-box img,.form-boxs .pic-box img{
	display: block;
	margin: 19px auto 0px;
}
.form-box .cont-txt{
	float: left;
	margin-left: 2%;
	font-size: 15px;
	color: #4d4d4d;
	position: relative;
	padding-left: 75px;
	width: 60.1%;
}
.form-boxs .cont-txt{
	float: left;
	margin-left: 2%;
	font-size: 15px;
	color: #4d4d4d;
	line-height: 1.5em;
	padding: 17px 0px 17px 75px;
	position: relative;
	width: 60.1%;
}
.form-box .cont-txt span{
	display: inline-block;
	font-size: 15px;
	color: #4d4d4d;
	width: 75px;
	position: absolute;
	left: 0;
	top: 0;
}
.form-boxs .cont-txt span{
	display: inline-block;
	font-size: 15px;
	color: #4d4d4d;
	width: 75px;
	position: absolute;
	left: 0;
	top: 17px;
}
.goods-info .goods-show{
	overflow: hidden;
	padding: 10px 15px;
	border-bottom: 1px solid #ccc;
	background-color: #f2f2f2;
}
.goods-show img{
	display: block;
	float: left;
	border: 1px solid #ccc;
}
.goods-show .explain{
	float: left;
	line-height: 1.5em;
	font-size: 16px;
	color: #333;
}
.explain p{
	padding-left: 10px;
	display: -webkit-box;/*内容超出3行省略号显示*/
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
.pricebox{
	overflow: hidden;
}
.pricebox span{
	float: left;
	display: block;
	color: #666;
	font-size: 20px;
	padding: 0px 0px 0px 10px;
}
.pricebox strong{
	font-style: normal;
	font-weight: 400;
	float: right;
	color: #666;
	font-size: 13px;
}
.pricebox strong em{
	font-style: normal;
	color: #666;
	margin-left: 3px;
}
.addprice{
    line-height: 42px;
    text-align: right;
    font-size: 13px;
    color: #333;
    padding: 0px 15px;
    border-bottom: 1px solid #ccc;
}
.addprice .apcolor{
    color: #ff855a;
    font-size: 18px;
    font-weight: 400;
}
.addprice .apcolor mark {
    background-color: #fff;
    color: #ff855a;
    margin-left: 3px;
}
.addprice .apcolors{
    color: #999;
    font-size: 18px;
    font-weight: 400;
}
.addprice .apcolors mark {
    background-color: #fff;
    color: #999;
    margin-left: 3px;
}
.grayline{
	height: 10px;
	background-color: #f2f2f2;
}
.pricebox span mark{
	background-color: #f2f2f2;
	color: #666;
	font-size: 20px;
	margin-left: 3px;
}
.goods-info .goods-details{
	padding: 10px 15px;
}
/*.goods-info .goods-details p{
	font-size: 13px;
	color: #808080;
	line-height: 1.5em;
	padding: 6px 0px;
}*/
.goods-info .goods-details li{
	font-size: 13px;
	color: #808080;
	line-height: 1.5em;
	padding: 6px 0px 6px 65px;
	position: relative;
	height: 19px;
}
.goods-info .goods-details li p{
	position: absolute;
	left: 0;
	top: 6px;
}
