.container{
	padding: 0px 15px 20px;
}
.container .border-box{
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}
.border-box p{
	line-height: 58px;
	float: left;
	width: 50%;
	font-size: 15px;
	color: #666;
}
.border-box a{
	display: block;
	overflow: hidden;
}
.border-box .right-box{
	float: right;
	width: 50%;
	overflow: hidden;
}
.border-box .right-box img{
	display: block;
	margin-top: 9px;
	float: right;
}
.border-box .right-box input{
	display: block;
	line-height: 1.5em;
	padding: 17px 0px;
	font-size: 15px;
	color: #333;
	border: none;
	text-align: right;
	width: 100%;
}
.popup{
	width: 60%;
	margin: 0px auto;
	font-size: 15px;
	color: #333;
}
.popup li{
	line-height: 50px;
	text-align: center;
}
.popup li:active{
	background-color: #ccc;
}
.btn-boxs{
	margin-top: 30px;
}
.btn-box{
	overflow: hidden;	
}
.fixed{
	position: fixed;
	bottom: 20px;
	left: 0;
	width: 100%;
}
.btn-box a{
	font-size: 16px;
	color: #fff;
	line-height: 40px;
	background-color: #21c0d5;
	border-radius: 5px;
	text-align: center;
	width: 48%;
}
.btn-box .keep{
	float: left;
}
.btn-box .quit{
	float: right;
}
.login-pop{
	width: 240px;
	border-radius: 5px;
	display: none;
}
.login-pop h4{
	font-size: 16px;
	color: #21c0d5;
	border-bottom: 1px solid #21c0d5;
	text-align: center;
	line-height: 40px;
}
.login-pop p{
	line-height: 1.5em;
	font-size: 14px;
	color: #333;
	padding: 25px 15px;
}
.login-pop .btn-xw{
	overflow: hidden;
	border-top: 1px solid #ccc;
}
.login-pop .btn-xw a{
	width: 49%;
	font-size: 15px;
	color: #333;
	line-height: 40px;
	text-align: center;
}
.login-pop .btn-xw .confirm-btn{
	float: left;
	border-right: 1px solid #ccc;
}
.login-pop .btn-xw .cancel-btn{
	float: right;
}
