.container{
	background-color: #f2f2f2;
	padding: 0px 15px;
	position: relative;
}
.content{
	position: absolute;
	left: 15px;
}
.border-box{
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 15px;
}
.border-box input{
	border: none;
	width: 94%;
	border-radius: 5px;
	padding: 12px 3% 11px;
	font-size: 15px;
	color: #333;
	margin: 2px 0px;
}
.explain{
	font-size: 14px;
	color: #666;
	line-height: 1.5em;
	padding-top: 15px;
}
.confirm{
	font-size: 16px;
	color: #fff;
	background-color: #21c0d5;
	text-align: center;
	border-radius: 5px;
	line-height: 40px;
	margin-top: 35px;
}
