*{
	margin:0;
	padding:0;
}
.container{
	width:100%;
	padding-top:35px;
	min-height: 730px;
}
.reg{
	width:100%;
}
.reg .content{
	padding:120px 20px;
}
.reg .reginput{
	float:left;
}
/*.reg img{
	float:right;
}*/
.reginput .inp{
	line-height:42px;
	margin-bottom:15px;
}
.reginput .inp .inp-name span{
	color:#fe1a02;
}
.reginput .inp .inp-name{
	height:42px;
	font-size:14px;
	color:#000;
	float:left;
	width:80px;
	text-align: right;
}
.reginput .inp input{
	width:225px;
	margin-left:12px;
	float:left;
	height:40px;
	line-height:40px;
	border:1px solid #b4b9bd;
	padding-left:10px;
	padding-right:10px;
	outline: 0;
	cursor: pointer;
	font-family: "微软雅黑";
	border-radius: 5px;
	font-size:14px;
}
.reginput .inp textarea{
	width:225px;
	margin-left:12px;
	float:left;
	min-height:78px;
	border:1px solid #b4b9bd;
	padding:10px;
	outline: 0;
	cursor: pointer;
	font-family: "微软雅黑";
	border-radius: 5px;
	font-size:14px;
}
.reginput .inp.yanz input{
	width:102px;
}
.reginput .inp input:focus,.reginput .inp textarea:focus{
	border: 1px solid #21c0d5;
}
#submit{
	width:247px;
	height:53px;
	line-height:53px;
	color:#fff;
	font-size:18px;
	float:right;
	background:#21c0d5;
	border-radius: 5px;
	text-align: center;
	line-height:53px;
	margin-top:25px;
	cursor: pointer;
}
.reg .codePas{
	float:left;
	margin-left: 80px;
}
.clearfix{
	clear: both;
}
.select{
	background-image: url('../../images/contact/select-arrow.png');
	background-repeat: no-repeat;
	background-position: 200px center;
}
.select2{
	background-image: url('../../images/contact/select-arrow2.png');
}
#choose1{
	position: relative;
}
#choose1 .selist{
	width:245px;
	position: absolute;
	top:42px;
	left:92px;
	border:1px solid #21c0d5;
	border-top:1px solid #d3d3d3;
	background:#fff;
	display:none;
	text-align: center;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
}
#choose1 .selist p{
	font-size:18px;
	color:#595757;
	line-height:40px;
}
#choose1 .selist p:active,#choose1 .selist p:hover{
	background:#21c0d5;
	color:#fff;
}
.dwo {
    background: #fff !important;
    opacity:0 !important;
    filter: Alpha(Opacity=0) !important;
}
.dw{
	top:279px !important;
	left:92px !important;
}
.android-ics .dwv {
    border-bottom: 2px solid #21c0d5 !important;
}
.android-ics .dw {
	color:#21c0d5 !important;
}
.android-ics .dw .dwwol {
    border-top: 2px solid #21c0d5 !important;
    border-bottom: 2px solid #21c0d5 !important;
}
.dwwr{
	width:245px !important;
	border:1px solid #21c0d5;
}
.qrcode{
	padding:15px;
	border:1px solid #bebebe;
}
.qrcode img{
	width:200px;
	height:200px;
}
.codePas p{
	font-size:18px;
	color:#595757;
	height:63px;
	line-height: 63px;
	text-align: center;
}
.changePas{
	width:232px;
	height:53px;
	line-height:53px;
	color:#fff;
	font-size:18px;
	float:right;
	background:#21c0d5;
	border-radius: 5px;
	text-align: center;
	line-height:53px;
	cursor: pointer;
}
.uploadbox{
	width:70px;
	height:70px;
	background-image:url('+data.result.img[i].url+');background-size:contain;background-position:center center;
	background-repeat:no-repeat;
	position: relative;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	margin-left:12px;
	float:left;
	border:1px solid #b4b9bd;
}
.reginput .inp .filetest{
	width: 130px;
	height: 100%;
	opacity: 0;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 4;
	margin-left:0;
}
.uploadbox span{
	display:inline-block;
	width:54px;
	height:24px;
	line-height: 24px;
	border-radius: 12px;
	font-size:14px;
	color:#fff;
	background:#21c0d5;
	margin-left:85px;
	margin-top:23px;
	text-align: center;
}
