*{
	margin:0;
	padding:0;
}
.container{
	width:100%;
	padding-top:35px;
}
.reginput{
	width:345px;
	margin:0 auto;
}
/*.reg img{
	float:right;
}*/
.reginput .inp{
	line-height:42px;
	margin-bottom:15px;
}
.reginput .inp .inp-name span{
	color:#fe1a02;
}
.reginput .inp .inp-name{
	height:42px;
	font-size:14px;
	color:#000;
	float:left;
	width:80px;
	text-align: right;
}
.reginput .inp input{
	width:225px;
	margin-left:12px;
	float:left;
	height:40px;
	line-height:40px;
	border:1px solid #b4b9bd;
	padding-left:10px;
	padding-right:10px;
	outline: 0;
	cursor: pointer;
	font-family: "微软雅黑";
	border-radius: 5px;
}
.reginput .inp textarea{
	width:225px;
	margin-left:12px;
	float:left;
	min-height:78px;
	border:1px solid #b4b9bd;
	padding:10px;
	outline: 0;
	cursor: pointer;
	font-family: "微软雅黑";
	border-radius: 5px;
}
.reginput .inp.yanz input{
	width:102px;
}
.reginput .inp input:focus,.reginput .inp textarea:focus{
	border: 1px solid #21c0d5;
}
#submit{
	width:247px;
	height:53px;
	line-height:53px;
	color:#fff;
	font-size:18px;
	background:#21c0d5;
	border-radius: 5px;
	text-align: center;
	line-height:53px;
	margin-top:25px;
	cursor: pointer;
	margin-left: 92px;
}
.clearfix{
	clear: both;
}
